/RemoteContorlServer/.vs/RemoteContorlServer/v15/.suo
/RemoteContorlServer/.vs/RemoteContorlServer/v15/Browse.VC.db
/RemoteContorlServer/.vs/RemoteContorlServer/v15/Browse.VC.opendb
/RemoteContorlServer/Debug/RemoteContorlServer.exe
/RemoteContorlServer/.vs
/RemoteContorlServer/Debug
/RemoteContorlServer/RemoteContorlServer/Debug
