/RemoteContorlServer/.vs/RemoteContorlServer/v15/.suo
/RemoteContorlServer/.vs/RemoteContorlServer/v15/Browse.VC.db
/RemoteContorlServer/.vs/RemoteContorlServer/v15/Browse.VC.opendb
/RemoteContorlServer/Debug/RemoteContorlServer.exe
/RemoteContorlServer/.vs
/RemoteContorlServer/Debug
/RemoteContorlServer/RemoteContorlServer/Debug
/RemoteContorlServer/Release/RemoteContorlServer.exe
/RemoteContorlServer/Release/RemoteContorlServer.iobj
/RemoteContorlServer/Release/RemoteContorlServer.ipdb
/RemoteContorlServer/Release/RemoteContorlServer.pdb
/RemoteContorlServer/RemoteContorlServer/Release/vc141.pdb
/RemoteContorlServer/RemoteContorlServer/Release/ThreadPool.obj
/RemoteContorlServer/RemoteContorlServer/Release/TestTool.obj
/RemoteContorlServer/RemoteContorlServer/Release/ServerSocket.obj
/RemoteContorlServer/RemoteContorlServer/Release/RemoteContorlServer.res
/RemoteContorlServer/RemoteContorlServer/Release/RemoteContorlServer.pch
/RemoteContorlServer/RemoteContorlServer/Release/RemoteContorlServer.obj
/RemoteContorlServer/RemoteContorlServer/Release/RemoteContorlServer.log
/RemoteContorlServer/RemoteContorlServer/Release/RemoteCo.A00C1645.tlog
/RemoteContorlServer/RemoteContorlServer/Release/pch.obj
/RemoteContorlServer/RemoteContorlServer/Release/Packet.obj
/RemoteContorlServer/RemoteContorlServer/Release/Command.obj
/RemoteContorlServer/RemoteContorlServer/Release/fileInfo.obj
/RemoteContorlServer/RemoteContorlServer/Release/MouseEvent.obj
/RemoteContorlServer/RemoteContorlServer/RemoteContorlServer.aps
/RemoteContorlServer/x64/Debug
/RemoteContorlServer/RemoteContorlServer/x64/Debug
